

body {
  background-color: #ABB2C4; /* grey */
  font-family: helvetica;
}

h1 {
  text-align: center;
}

#bio-box {
  text-align: center;
}

#hp-block {
  display: block;
}

#resume {
  display: inline-block;
  width: 30%
}
#bio {
  display: inline-block;
  width: 25%
}

.center {
  height: 10em;
  position: relative;
}
.center h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#pic {
  width: 40%;
  height: 40%;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  text-align: center;
}

.section {
  display: inline-block;
}
.section-div {
  background-color: #69694C;
  color: #69694C;
  height: 5px;
}
.section-header {
  float: left;
  width: 20%;
}
.section-body {
  float: right;
  width: 80%;
}
