

body {
  background-color: #ABB2C4; /* grey */
  font-family: helvetica;
}

h1 {
  text-align: center;
}

#pub-key {
  text-align: center;
}

#bio-box {
  text-align: center;
}

.container {
  display: block;
  text-align: center;
}

#resume {
  display: inline-block;
  width: 30%;
  float: left;
}
#projects {
  display: inline-block;
  width: 25%;
  float: right;
}

.center {
  height: 10em;
  position: relative;
}
.center h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#pic {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.contact {
  text-align: center;
}

.section {
  display: inline-block;
  border-top: 2px solid #69694C;
  width: 100%;
}
.section-header {
  display: inline-block;
  width: 20%;
}
.section-body {
  display: inline-block;
  width: 75%;
}

#name {
  font-style: italic;
}

